<div class="navbar">
  <div class="breadcrumb">
    <div class="breadcrumb-label clickable" routerLink="/application/classroom">Osztályok</div>
    <div class="breadcrumb-icon">
      <mat-icon>arrow_right</mat-icon>
    </div>
    <div class="breadcrumb-label clickable"
         (click)="navigate()">{{this.classroom.name}} {{this.classroom.subject}}</div>
    <div class="breadcrumb-icon">
      <mat-icon>arrow_right</mat-icon>
    </div>
    <div class="breadcrumb-label">{{this.modul.title}}</div>
  </div>
</div>
<div class="high">
  <div class="container" style="height: 100%">
    <div class="list">
      <div *ngIf="!this.students.size" class="no-data">
        <div class="icon">
          <mat-icon>info_outlined</mat-icon>
        </div>
        <div class="info">
          Nincsenek megjeleníthető diákok
        </div>
      </div>
      <div *ngIf="this.students.size && this.commitmentsByStudents.length && this.tasks.size">
        <mat-accordion>
          <div *ngFor="let commitmentsByStudent of this.commitmentsByStudents">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{commitmentsByStudent.student.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngIf="!this.commitmentsByStudent.commitments.length" class="no-data">
                <div class="icon">
                  <mat-icon>info_outlined</mat-icon>
                </div>
                <div class="info">
                  Nincsenek elvállalt feladatok
                </div>
              </div>
              <div *ngIf="this.commitmentsByStudent.commitments.length">
                <div *ngFor="let commitment of this.commitmentsByStudent.commitments" (click)="view(commitment)">
                  {{this.tasks.get(commitment.taskId)!.title}}
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
    <div class="view">
      <div *ngIf="!selectedCommitment.id" class="no-data">
        <div class="icon">
          <mat-icon>info_outlined</mat-icon>
        </div>
        <div class="info">
          Válassz egy feladatot
        </div>
      </div>
      <div *ngIf="selectedCommitment.id">
        <div class="title">{{this.tasks.get(selectedCommitment.taskId)!.title}}</div>
        <div>{{this.tasks.get(selectedCommitment.taskId)!.summary}}</div>
        <div>
          <div *ngIf="this.tasks.get(selectedCommitment.taskId)!.teamwork" class="team">
            <mat-icon>groups</mat-icon>
            <mat-chip-set>
              <mat-chip *ngFor="let username of getUsers()" disableRipple>{{username}}</mat-chip>
            </mat-chip-set>
          </div>
        </div>
        <div class="label">Feladatleírás:</div>
        <div>{{this.tasks.get(selectedCommitment.taskId)!.description}}</div>
        <div *ngIf="links.length || files.length">
          <div class="label">Csatolmányok:</div>
          <div *ngFor="let link of links"><a href="{{link.path}}" target="_blank">{{link.path}}</a></div>
        </div>
        <div>
          <mat-chip-listbox multiple>
            <mat-chip-option *ngFor="let badge of this.badges" [matTooltip]="badge.tooltip"
                             [selected]="checkedBadges.includes(badge.id!)"
                             (selectionChange)="checkBadge($event, badge)">
              <mat-icon style="font-size: 20px">{{badge.icon}}</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
          <button mat-raised-button color="primary" (click)="saveBadges()" [disabled]="isBadgeButtonDisabled()">Ok
          </button>
        </div>
        <div class="label">Eredmény:</div>
        <div>
          <span class="result">
            <mat-form-field appearance="outline" class="field">
              <mat-label>Pontszám</mat-label>
              <input matInput type="number" [formControl]="pointsControl">
              <mat-error *ngIf="pointsControl.errors?.['required']">Pontszám megadása kötelező</mat-error>
              <mat-error *ngIf="pointsControl.errors?.['min']">A pontszám nem lehet negatív</mat-error>
              <mat-error *ngIf="pointsControl.errors?.['max']">A pontszám nem lehet nagyobb, mint {{this.tasks.get(selectedCommitment.taskId)!.points}}</mat-error>
        </mat-form-field>
        </span>
          / {{this.tasks.get(selectedCommitment.taskId)!.points}} pont
        </div>
        <button mat-raised-button color="primary" (click)="savePoints()" [disabled]="isPointsButtonDisabled()">Értékelés
        </button>
      </div>
    </div>
  </div>
</div>

