<div class="container">
  <div class="upper">
    <div class="profile-picture-container">
      <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
    </div>
    <div class="username">{{ loggedInUser.name }}</div>
    <div class="list">
      <div class="list-item" routerLink="/profile">Profil</div>
      <div class="list-item" routerLink="/classroom">Osztályok</div>
      <div class="list-item" routerLink="/modul">Témakörök</div>
      <div class="list-item">Üzenetek</div>
    </div>
  </div>
  <div class="logout" matTooltip="Kijelentkezés">
    <mat-icon>logout</mat-icon>
  </div>
</div>

