<div class="profile-picture-container">
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
<div class="username">{{ username }}</div>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem" routerLink="/profile">Profil</mat-list-item>
    <mat-list-item role="listitem" routerLink="/classroom">Osztályok</mat-list-item>
    <mat-list-item role="listitem" routerLink="/modul">Témakörök</mat-list-item>
    <mat-list-item role="listitem">Üzenetek</mat-list-item>
  </mat-list>
</div>

