<div class="title">Jelszó megváltoztatása</div>
<div  class="form">
  <mat-form-field appearance="outline" class="field">
    <mat-label>Jelenlegi jelszó</mat-label>
    <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="oldPasswordControl">
    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" tabindex="-1">
      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="oldPasswordControl.invalid">A jelszó megadása kötelező</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="field" matTooltip="Legalább 6, legfeljebb 15 karakter, tartalmazzon kisbetűt, nagybetű és számot is" matTooltipPosition="above">
    <mat-label>Új jelszó</mat-label>
    <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="newPasswordControl">
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" tabindex="-1">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPasswordControl.errors?.['required']">Új jelszó megadása kötelező</mat-error>
    <mat-error *ngIf="!newPasswordControl.errors?.['required'] && newPasswordControl.invalid">A jelszó nem felel meg a követelményeknek</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>Új jelszó újra</mat-label>
    <input matInput [type]="hide3 ? 'password' : 'text'" [formControl]="newAgainPasswordControl" (keyup)="passwordsMatch()">
    <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3" tabindex="-1">
      <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newAgainPasswordControl.errors?.['required']">Új jelszó megismétlése kötelező</mat-error>
    <mat-error *ngIf="!confirmed">A jelszavak nem egyeznek meg</mat-error>
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary" class="control" [disabled]="isDisabled()" (click)="update()">Mentés</button>
    <button mat-raised-button class="control" mat-dialog-close="true">Mégse</button>
  </div>
</div>
