.mat-drawer-side {
  border: none;
}

.mat-mdc-fab.mat-primary {
  --mdc-fab-container-color: cornflowerblue;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

.mat-mdc-tab-body-wrapper {
  flex-grow: 1 !important;
}
