.mat-drawer-side {
  border: none;
}

.mat-mdc-fab.mat-primary {
  --mdc-fab-container-color: cornflowerblue;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

.mat-mdc-tab-body-wrapper {
  flex-grow: 1 !important;
}

.mat-mdc-snack-bar-container.red-snackbar {
  --mat-mdc-snack-bar-button-color: rgba(255, 255, 255, 0.87);
  --mdc-snackbar-container-color: #F44336;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
}
