<div class="container">
  <div class="navbar">
    <div class="breadcrumb">
      <div class="breadcrumb-label clickable" routerLink="/application/classroom">Osztályok</div>
      <div class="breadcrumb-icon">
        <mat-icon>arrow_right</mat-icon>
      </div>
      <div class="breadcrumb-label clickable"
           (click)="navigate()">{{this.classroom.name}} {{this.classroom.subject}}</div>
      <div class="breadcrumb-icon">
        <mat-icon>arrow_right</mat-icon>
      </div>
      <div class="breadcrumb-label">{{this.modul.title}}</div>
    </div>
  </div>
  <div class="high">
    <mat-tab-group class="tabs">
      <mat-tab label="Vállalás">
        <app-create-commitment class="tab"></app-create-commitment>
      </mat-tab>
      <mat-tab label="Feladatok">
        <app-view-commitment class="tab"></app-view-commitment>
      </mat-tab>
      <mat-tab label="Third"> Content 3</mat-tab>
    </mat-tab-group>
  </div>
</div>
