.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  margin: 25px;
}

.button-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.control {
  margin: 25px 10px 25px 0;
}
