.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list {
  width: 50%;
  border: solid #939393 1px;
  border-radius: 5px;
  margin: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item div {
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.label {
  margin-right: 10px;
}

.bar {
  width:50px;
  height: 4px;
  margin: 0 5px;
  //background-color: black;
}

.control {
  margin-right: 15px;
}
