<div class="container">
  <div class="tasks">
    <div class="list">
      <div *ngFor="let task of this.available" class="item">
        <button mat-icon-button (click)="add(task)">
          <mat-icon>add</mat-icon>
        </button>
        <div matTooltip="{{task.summary}}">{{task.title}}</div>
        <div>{{task.points}} pont</div>
        <div *ngIf="task.teamwork">
          <mat-icon>groups</mat-icon>
        </div>
      </div>
    </div>
    <div class="list">
      <div *ngFor="let task of this.commited" class="item">
        <button mat-icon-button (click)="remove(task)">
          <mat-icon>remove</mat-icon>
        </button>
        <div matTooltip="{{task.summary}}">{{task.title}}</div>
        <div>{{task.points}} pont</div>
        <div *ngIf="task.teamwork" class="team-button" (click)="assemble(task)" matTooltip="Csapat szerkesztése">
          <mat-icon>groups</mat-icon>
        </div>
<!--        <div *ngIf="task.teamwork">-->
<!--          <mat-chip-set>-->
<!--            <mat-chip *ngFor="let username of getUsers(task.id!)" disableRipple>{{username}}</mat-chip>-->
<!--          </mat-chip-set>-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="progress">
      <div class="label">Várható jegy:</div>
      <div class="bar" *ngFor="let bar of placeholder" [ngStyle]='{"background-color": getColor()}'></div>
    </div>
    <div>
      <button mat-raised-button color="primary" class="control" [disabled]="isDisabled()" (click)="save()" #save_btn>Mentés
      </button>
    </div>
  </div>
</div>
