<div class="navbar">
  <div class="breadcrumb">
    <div class="breadcrumb-label">Osztályok</div>
  </div>
  <div class="action" *ngIf="!archived && this.isTeacher">
    <button mat-raised-button (click)="openArchive()">Archívum</button>
  </div>
  <div class="action" *ngIf="archived  && this.isTeacher">
    <button mat-raised-button (click)="closeArchive()">Archívum bezárása</button>
  </div>
</div>
<div *ngIf="!classrooms.length" class="no-data">
  <div class="icon">
    <mat-icon>info_outlined</mat-icon>
  </div>
  <div class="info">
    Jelenleg nincs megjeleníthető osztály
  </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px grid" class="container" *ngIf="classrooms.length">
  <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let classroom of classrooms">
    <mat-card class="class-card">
      <mat-card-header (click)="open(classroom)">
        <div>{{classroom.name}}</div>
        <div class="truncate">{{classroom.subject}}</div>
      </mat-card-header>
      <mat-card-actions class="control" *ngIf="this.isTeacher">
        <div class="button" (click)="update(classroom)" matTooltip="Szerkesztés">
          <mat-icon>edit</mat-icon>
        </div>
        <div *ngIf="!classroom.archived" class="button" (click)="archive(classroom)" matTooltip="Archiválás">
          <mat-icon>archive</mat-icon>
        </div>
        <div *ngIf="classroom.archived" class="button" (click)="unarchive(classroom)"
             matTooltip="Archiválás visszavonása">
          <mat-icon>unarchive</mat-icon>
        </div>
        <div class="button">
          <mat-icon class="warning" (click)="delete(classroom)" matTooltip="Törlés">delete</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="add" (click)="create()" *ngIf="this.isTeacher">
  <button mat-fab color="primary" matTooltip="Osztály létrehozása" matTooltipPosition="before">
    <mat-icon>add</mat-icon>
  </button>
</div>
