<p>profile works!</p>
<div>
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
<div>
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
<div>
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
<div>
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
<div>
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
<div>
  <img alt="profile picture" class="profile-picture" src="../../../assets/temp-resources/gizsgugya.jpg">
</div>
