<div class="navbar">
  <div class="breadcrumb">
    <div class="breadcrumb-label">Osztályok</div>
    <div class="breadcrumb-icon">
      <mat-icon>arrow_right</mat-icon>
    </div>
    <div class="breadcrumb-label">{{this.classroom.name}} {{this.classroom.subject}}</div>
  </div>
  <div class="action">
    <button mat-raised-button (click)="edit()">Szerkesztés</button>
  </div>
</div>
<div *ngIf="!moduls.length" class="no-data">
  <div class="icon">
    <mat-icon>info_outlined</mat-icon>
  </div>
  <div class="info">
    Jelenleg nincs megjeleníthető témakör
  </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px grid" class="container" *ngIf="moduls.length">
  <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let modul of moduls">
    <mat-card class="class-card">
      <mat-card-header (click)="open(modul)">
        <div class="truncate">{{modul.title}}</div>
        <div>
          {{modul.beginning}} - {{modul.end}}
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>

